deps
junk
wiki
*.layout
*.depend
testchannel.*
testdata
src/tinypy/*.zip
.vs
ProCIRCd.opensdf
ProCIRCd.sdf
ProCIRCd.vcxproj.filters
ProCIRCd.vcxproj.user
doxygen
src/tinypy/*.py
src/tinypy/*.pyc
src/tinypy/*.tpc
PROCIRCD.VCW
PROCIRCD.WSP
PROCIRCD.bsc
cmake_install.cmake
build
