deps
web/node_modules
junk
wiki
*.layout
*.depend
testchannel.*
testdata
src/tinypy/*.zip
.vs
ProCIRCd.opensdf
ProCIRCd.sdf
ProCIRCd.vcxproj.filters
ProCIRCd.vcxproj.user
doxygen
src/tinypy/*.py
src/tinypy/*.pyc
src/tinypy/*.tpc
PROCIRCD.VCW
PROCIRCD.WSP
PROCIRCD.bsc
android/local.properties
*.iml
.gradle
local.properties
.idea/caches/build_file_checksums.ser
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.DS_Store
build
captures
.externalNativeBuild
android/.gitignore
android/app/.gitignore
android/app/build
bin
gmon.out
storage.db
ValgrindOut.xml
obj
src/obj
